#title-bar {
  height: 30px;
  background: #43d4db;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  -webkit-app-region: drag;
}


